
.container {
 margin: 0 auto;
 padding: 0;   
    
    
}
.navigation-items {
  list-style: none;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  padding: 20px;
}
li {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.forecast-day {
    color: #bababa;
    font-size: 13px;
    font-weight: 400;
    height: 15px;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
}
.weather-detail__text{
  color: #61dafb;
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
h1{
  color:#212529;
  font-weight:bold;
  text-align: left
}
.App-header {
  background-color:blanchedalmond;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row{
  display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
